<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="trangxacnhan">
      <div class="nhan_yeu_cau">
        <p>NHẬN YÊU CẦU THÀNH CÔNG !</p>
        <div class="box_ma_xn">
          <p class="ma">MÃ XÁC NHẬN:</p>
          <p class="ma_xn">0523HYN</p>
        </div>
      </div>
      <button class="back">TRỞ VỀ TRANG CHỦ</button>
    </div>
  </body>
</html>
