.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: fixed;
    z-index:2;
}

.content {
    position:absolute;
}

.footer {
    position:fixed;
    z-index:2;
}

