<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="trangxacnhan">
      <div class="nhan_yeu_cau">
        <p>XÁC NHẬN</p>
        <div class="box_ma_xn">
          <div class="minibox">
            <p class="ma">Thông tin máy in</p>
            <div class="b1_xam">
              <div class="b2_trang tren">
                <div class="b3">
                  <p>+H6.P603</p>
                </div>
              </div>
            </div>
            <p class="ma">Thông tin máy in</p>
            <div class="b1_xam">
              <div class="b2_trang duoi">
                <div class="b3">
                  <p>Khổ giấy in: A4</p>
                  <p>Trang in: 2</p>
                  <p>Số trang trên một mặt: 1</p>
                  <p>Số mặt trên một tờ: 1</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="back bt_trang">HỦY</button>
      <button class="back">XÁC NHẬN</button>
    </div>
  </body>
</html>
